<%= render partial: "workspace/shared/list", locals: { collection: @collection } %>

<div class="panel panel-main">
	<%= render partial: "tabs", locals: { tab: :edit } %>


	<h1>Edit Link</h1>

	<%= simple_form_for @link, url: collection_route(@collection).link_path(@link), class: 'form-horizontal' do |f| %>
		<%= render partial: "form", locals: { f: f } %>

		<div class="form-actions">
			<%= f.button :submit, class: 'btn btn-primary' %>
			<%= link_to "Back", collection_route(@collection).link_path(@link), class: 'btn btn-default' %>
			<%= link_to collection_route(@collection).link_path(@link), method: :delete,
							data: { confirm: "are you sure?" }, class: 'btn btn-danger' do %>
			<i class="fa fa-trash-o"></i> Delete Link
			<% end %>

			<div class="pull-right">
			</div>
		</div>
	<% end %>
	</div>

</div>
