<%= fume_nav tab do |n| %>
<ul class="nav nav-tabs">
	<%= n.li_tag :show do %>
		<%= link_to collection_route(@collection).article_path(@article) do %><i class="fa fa-search"></i> 详情<% end %>
	<% end %>
	<%= n.li_tag :edit do %>
		<%= link_to collection_route(@collection).edit_article_path(@article) do %><i class="fa fa-pencil"></i> 编辑<% end %>
	<% end %>

	<% if !@article.versions.empty? %>
	<li class="dropdown pull-right">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
			历史版本 <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#"><%=l @article.posted_at.to_date %> (最新)</a></li>
			<% @article.versions.each do |version| %>
			<li><a href="#"><%=l @article.posted_at.to_date %></a></li>
			<% end %>
		</ul>
	</li>
	<% end %>
</ul>
<% end %>