<div class="modal-dialog">
<div class="modal-content">
	<% form_id = dom_id(@list, "modal") %>
	<%= simple_form_for @list, html: { id: form_id, method: 'delete' }, url: workspace_list_path(@list), remote: true do |f| %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Delete List</h4>
		</div>

		<div class="modal-body">
			<p>
				是否确定要删除列表?
			</p>

			<div class="form-inputs">
			<%= f.check_box :name %> 并删除列表内所有数据
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<%= f.submit 'Delete', class: 'btn btn-danger' %>
		</div>
	<% end %>

	<script>
	$("form#<%= form_id %>").on("ajax:success", function(event, data, status, xhr) {
		location.href = <%=raw workspace_root_path.to_json %>;
	}).on("ajax:error", function(event, xhr, status, error) {
		$(event.target).closest(".modal-dialog").replaceWith(xhr.responseText);
	});
	</script>
</div>
</div>