<div class="view view-aside">
	<ul class="list">
		<% collection.articles.order(created_at: :desc).each do |article| %>
		<li class="article">
			<hgroup>
				<h4>
					<%= link_to collection_route(collection).article_path(article) do %>
						<%= article.title.present? ? article.title : article.url %>
					<% end %>
				</h4>
			</hgroup>
			<p class="labels">
				<% article.tags.each do |tag| %>
					<span class="label label-default"><%= tag.name %></span>
				<% end %>
			</p>

			<div class="actions-wrapper">
			<div class="actions">
			</div>
			</div>
		</li>
		<% end %>


		<% collection.links.order(created_at: :desc).each do |link| %>
		<li class="link">
			<hgroup>
				<h4>
					<%= link_to collection_route(collection).link_path(link) do %>
						<%= link.title.present? ? link.title : link.url %>
					<% end %>
				</h4>
			</hgroup>
			<p class="labels">
				<% link.tags.each do |tag| %>
					<span class="label label-default"><%= tag.name %></span>
				<% end %>
			</p>

			<div class="actions-wrapper">
			<div class="actions">
				<%= link_to link.url do %><i class="fa fa-external-link"></i><% end %>
			</div>
			</div>
		</li>
		<% end %>
	</ul>
	
</div>