<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title><% if content_for?(:title) %><%= yield(:title) %> - <% end %><%= Project.settings.title %></title>

	<!-- <meta name="author" content="{{ site.author }}" /> -->
	<!-- <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}"> -->
	<!-- <meta name="keywords" content="{{ page.keywords }}" /> -->
	<!-- <link rel="canonical" href="{{ canonical }}"> -->
	<link href="<%= image_path "favicon.png" %>" rel="icon">
	<%= stylesheet_link_tag "application" %>

	<!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link href="<%= atom_path(:xml) %>" rel="alternate" title="<%= Project.settings.title %>" type="application/atom+xml">

	<%= csrf_meta_tags %>
	<%= render partial: "shared/google_analytics" %>
</head>
<body>

<body <% if content_for?(:sidebar) %>class="collapse-sidebar sidebar-footer"<% end %>>

	<header class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to Project.settings.title, root_path, class: "navbar-brand" %>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<% Project.settings.bundles.keys.each do |name| %>
						<li><%= link_to name, bundle_path(name.downcase) %></li>
					<% end %>
				</ul>



				<ul class="nav navbar-nav navbar-right" data-subscription="rss{% if site.subscribe_email %} email{% endif %}">
					<li><a href="<%= atom_path(:xml) %>" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>

					<!--
					{% if site.subscribe_email %}
					<li><a href="{{ site.subscribe_email }}" rel="subscribe-email" title="subscribe via email">Email</a></li>
					{% endif %}
					-->
				</ul>

				<form class="navbar-form navbar-right" role="search" action="http://google.com/search" method="get">
					<div class="form-group">
						<input type="text" class="form-control" name="q" results="0" placeholder="Search"/>
						<input type="hidden" name="q" value="site:<%= root_url %>" />
					</div>
				</form>
			</div><!-- /.navbar-collapse -->
		</div>
	</header>
	
	<div class="container">
		<% if content_for?(:sidebar) %>
			<div class="row">
				<div class="col-md-9">
					<%= yield %>
				</div>
				<div class="col-md-3">
					<%= yield :sidebar %>
				</div>
			</div>
		<% else %>
			<%= yield %>
		<% end %>
	</div>
	
	<footer role="contentinfo">
		<div class="container">
			<p>
				Copyright &copy; <%= Date.today.year %> - sunteya
			</p>
		</div>
	</footer>
	
	<!-- {% include disqus.html %} -->
	<!-- {% include facebook_like.html %} -->
	<!-- {% include google_plus_one.html %} -->
	<!-- {% include twitter_sharing.html %} -->
	<!-- {% include custom/after_footer.html %} -->

</body>
</html>

