<!DOCTYPE html>
<html>
<head>
	<title>WIDO 2</title>
	<%= stylesheet_link_tag    "workspace", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "workspace", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<div id="surface">
	<header id="header" class="navbar navbar-default navbar-fixed-top">
		<a class="navbar-brand" href="#">WIDO 2</a>
			
			<form class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" />
				</div>
			</form>
			
			<div class="btn-group navbar-btn">
				<%= link_to new_workspace_collation_link_path('inbox'), class: "btn btn-default" do %>
					<i class="fa fa-link"></i>
				<% end %>
				<%= link_to new_workspace_collation_article_path('inbox'), class: "btn btn-default" do %>
					<i class="fa fa-file-text-o"></i>
				<% end %>
			</div>

<% save_to_wido_script = capture do %>
function fw323() {
	var d = document;
	var b = d.body,
		z = d.createElement('script'),
		l = d.location,
		t = new Date().getTime();

	z.setAttribute('src', '<%= workspace_bookmarklet_add_link_url('js') %>' + '&' + t);
	z.onerror = function() {
		var c = [
			"link[url]=" + encodeURIComponent(l.href),
			"link[title]=" + encodeURIComponent(d.title)
		];
		l.href = "<%= new_workspace_collation_link_url('inbox') %>" + "?" + c.join("&");
	};
	b.appendChild(z);
};
fw323();
<% end %>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to "> WIDO", %Q!javascript: #{save_to_wido_script.gsub(/[\n\t]+/, '')}! %>
				</li>
				<li class="divider-vertical"></li>
				<li class="navbar-text">Logged in as </li>
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= current_user.email %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
					</ul>
				</li>
			</ul>
			
	</header>
	
	<div class="container">
		<div id="sidebar">
			<h3>整理</h3>
			<ul class="nav nav-list">
				<li class="active">
					<%= link_to workspace_collation_path('inbox') do %>
						<i class="fa fa-inbox"></i> Inbox
					<% end %>
				</li>
				<li class="">
					<%= link_to workspace_collation_path('review') do %>
						<i class="fa fa-edit"></i> Review
					<% end %>
				</li>
			</ul>
			
			<h3>列表</h3>
			<ul class="nav nav-list">
				<% current_user.lists.customable.each do |list| %>
				<li><%= link_to list.name, workspace_list_path(list) %></li>
				<% end %>
			</ul>

			<footer>
				<%= link_to new_workspace_list_path, data: { toggle: "modal", target: "#new-list-modal" } do %><i class="fa fa-plus"></i><% end %>
				<% content_for :modals do %>
					<div class="modal fade" id="new-list-modal" tabindex="-1" role="dialog" aria-labelledby="newListModal" aria-hidden="true"></div>
				<% end %>
			</footer>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
	</div>
</div>


<%= yield :modals %>

<script>
$('body').on('hidden.bs.modal', '.modal', function () {
	$(this).removeData('bs.modal');
});
</script>

</body>
</html>
