<!DOCTYPE html>
<html>
<head>
	<title>WIDO 2</title>
	<%= stylesheet_link_tag    "workspace", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<div id="surface">
	<div id="header" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="brand" href="#">WIDO 2</a>
			
			<form class="navbar-form pull-left">
				<input type="text" class="input-medium search-query">
			</form>
			
			<div class="btn-group">
				<a class="btn" data-toggle="modal" href="<%= new_workspace_collation_link_path('inbox') %>"><i class="icon-link"></i></a>
				<a class="btn" data-toggle="modal" href="<%= new_workspace_collation_article_path('inbox') %>"><i class="icon-file-alt"></i></a>
			</div>

<% save_to_wido_script = capture do %>
function fw323() {
	var d = document;
	var b = d.body,
		z = d.createElement('script'),
		l = d.location,
		t = new Date().getTime();

	z.setAttribute('src', '<%= workspace_bookmarklet_add_link_url('js') %>' + '&' + t);
	z.onerror = function() {
		var c = [
			"link[url]=" + encodeURIComponent(l.href),
			"link[title]=" + encodeURIComponent(d.title)
		];
		l.href = "<%= new_workspace_collation_link_url('inbox') %>" + "?" + c.join("&");
	};
	b.appendChild(z);
};
fw323();
<% end %>
			<ul class="nav pull-right">
				<li>
					<%= link_to "> WIDO", %Q!javascript: #{save_to_wido_script.gsub(/[\n\t]+/, '')}! %>
				</li>
				<li class="divider-vertical"></li>
				<li class="navbar-text">Logged in as </li>
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#"><%= current_user.email %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
					</ul>
				</li>
			</ul>
			
		</div>

	</div>
	</div>
	
	<div class="container-fluid">
		<div id="sidebar">
			<h3>整理</h3>
			<ul class="nav nav-list">
				<li class="active">
					<%= link_to workspace_collation_path('inbox') do %>
						<i class="icon-inbox"></i> Inbox
					<% end %>
				</li>
				<li class="">
					<%= link_to workspace_collation_path('review') do %>
						<i class="icon-edit"></i> Review
					<% end %>
				</li>
			</ul>
			
			<h3>列表</h3>
			<ul class="nav nav-list">
				<% current_user.lists.customable.each do |list| %>
				<li><%= link_to list.name, workspace_list_path(list) %></li>
				<% end %>
			</ul>

			<footer>
				<%= link_to new_workspace_list_path do %><i class="icon-plus"></i><% end %>
			</footer>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
